<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huazai.mapper.AuthorMapper">
  <resultMap id="authorResult" type="com.huazai.bean.Author">
    <id property="id" column="id"></id>
    <result property="username" column="username"></result>
    <result property="password" column="password"></result>
    <result property="email" column="email"></result>
  </resultMap>

  <select id="select" resultMap="authorResult">
        SELECT
            *
        FROM
            `author`
  </select>

  <insert id="insert" parameterType="com.huazai.bean.Author">
        <selectKey resultType="int" statementType="PREPARED" keyProperty="id" order="AFTER">
          SELECT LAST_INSERT_ID()
        </selectKey>
      INSERT INTO
      `author` (`username`, `password`, `email`)
      VALUES (#{username}, #{password}, #{email})
   </insert>
</mapper>
