<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huazai.mapper.BlogMapper">
  <select id="selectBlogDetail" resultType="com.huazai.bean.Blog">
    SELECT
      B.id AS blog_id,
      B.title AS blog_title,
      B.author_id AS blog_author_id,
      A.id AS author_id,
      A.username AS author_username,
      A.`password` AS author_PASSWORD,
      A.email AS author_email,
      P.id AS post_id,
      P.blog_id AS post_blog_id,
      P.content AS post_content
    FROM
      blog B
    LEFT OUTER JOIN author A ON B.author_id = A.id
    LEFT OUTER JOIN post P ON B.id = P.blog_id
    WHERE B.id = #{id}
  </select>
</mapper>
